<div class="row">
	<div class="col-md-8">
		<section id="main-col">
			<ul ui-sortable ng-model="WishList.items" class="list-unstyled">
				<li ng-repeat="item in WishList.items">
					<div class="row">
						<div class="col-md-3">[{{item.type}}]</div>
						<div class="col-md-8">{{item.name}}</div>
						<div class="col-md-1">[<a href="#">x</a>]</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<div class="col-md-4">
		<section id="left-col">
			<ul class="list-unstyled">
				<li><a href="">Servers</a></li>
				<li><a href="">Achievements</a></li>
				<li><a href="">Quests</a></li>
				<li><a href="">Items</a></li>
				<li><a href="">Item Sets</a></li>
				<li><a href="">Pets</a></li>
			</ul>
		</section>
	</div>
</div>